.con {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  background-color: #222;
  height: 150px;
  display: block;
  padding: 12px 15px 11px;
}

h3.tit {
  color: #fff;
}

.pic {
  position: relative;
  width: 100px;
  height: 200px;
  margin-right: 15px;
  overflow: hidden;
  float: left;
  max-height: 200px;
}

.picSrc {
  max-height: 200px;
}

.item {
  margin-bottom: 10px;
  height: 16px;
  line-height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  overflow: hidden;
}

.icon {
  vertical-align: middle;
}

.s2 {
  font-weight: 700;
  padding: 10px;
}

.s1 {
  font-weight: 700;
  margin-left: 5px;
}

.chapterNumber {
  width: 100px;
  /* height: 136px; */
  /* margin-right: 15px; */
  overflow: hidden;
  float: left;
  font-size: 64px;
  text-align: center;
}

.btn-download {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}

.btn-translate {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
  background-color: #1cc88a;
  border-color: #1cc88a;
}

.btn-convert {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
  background-color: #ff9900;
  border-color: #ff9900;
}

/* loader overlay */
#loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* toggle with .show class or JS */
  align-items: center; /* center spinner vertically */
  justify-content: center; /* center spinner horizontally */
  background: rgba(0, 0, 0, 0.35); /* dim backdrop */
  z-index: 9999; /* on top of everything */
}

#loaderMessage {
  color: #fff;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 2em;
  text-align: center;
}
